npm-debug.log*
node_modules
.node_repl_history

# designated output directory
# less to specify ignoring after packager run 
# (change to reflect) electron-packager --out switch
out

# ignore MacOS Finder dotfiles
.DS_Store

# ignore directory-specific settings (e.g. "Show Hidden Files") in Linux
.directory
